

header {
  display: flex;
  justify-content: space-between;
  background-color: #031f2b;
}

body {
  background-color: #274259;
  height: 100vh;
}

.nav {
  padding: 30px;
}

.nav li {
  display: inline-block;
  margin: 15px;
  font-size: 20px;
  text-decoration: underline;
  font-family: 'Arapey';
  color: #BDBCBC;
}

 h2{
  font-size: 45px;
  margin-top: 30px;
  text-align: center;
  color: #dfdcdb;
}

a{
  color: #dfdcdb;
}

/* section{
  width: 900px;
} */

table {
  width: 700px;
  text-align: center;
  margin: 70px auto 40px auto;
  border: 2px black solid;
  border-collapse: collapse;
}

th {
  border: 2px solid rgba(0, 0, 0, .5);
  padding: 20px 10px;
  color: #dfdcdb;
  letter-spacing: 1px;
  background-color: #031f2b;
  font-family: Arial, Helvetica, sans-serif; 
} 

td {
  border-right: 2px solid rgba(0, 0, 0, .25);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f0f0;
  color: rgba(0, 0, 0, 0.74);
}

form {
  width: 700px;
  text-align: center;
  margin: 10px auto;
}

fieldset{
  text-align: center;
  width: 300px;
  margin: 10px auto;
  font-size: 23px;
  font-weight: bold;
}
input {
  display: block;
  padding: 5px 5px 5px 30px;
  width: 250px;
  height: 30px;
  background-color: #f3f0f0;
  border-radius: 12px;
  border: 3px solid  #031f2b;
  margin-bottom: 20px;
  font-size: 13px;
  
}

input:focus, input:hover{
  background-color: #8ca4b9;
  border: 3px solid #031f2b;
}



button{
  background-color: #031f2b;
  color: #BDBCBC;
  width: 150px;
  height: 50px;
  border: 2px solid #BDBCBC;
  border-radius: 12px;
  box-shadow: 2px 2px  #031f2b77;
  
}

button:hover{
  width: 155px;
  height:55px;
}

footer{
  height: 80px;
  margin-top: 30px;
  background-color: #031f2b;
  text-align: center;
  padding-top: 10px;
}

footer p {
  color: #dfdcdb;
  font-size: 18px;
  padding-top: 48px;
}