@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/patrickhand/v14/LDI1apSQOAYtSuYWp8ZhfYe8XsLLubg58w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



a{
  color:#ece4e4;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #031f2b;
}

body {
  background-color: #274259;
}

.nav {
  padding: 30px;
}

.nav li {
  display: inline-block;
  margin: 15px;
  font-size: 20px;
  text-decoration: underline;
  font-family: 'Arapey';
  color: #dfdcdb;
}

h2 {
  text-align: center;
  font-size: 55px;
  margin-top: 50px;
  margin-bottom: 60px;
  text-decoration: underline;
  font-family: 'Patrick Hand';
  text-transform: uppercase;
  color: #dfdcdb;
}


div {
  width: 800px;
  margin: 10px auto;
  
}

.container{
  display: float;
  height: 350px;
  text-align: center;
}

.container img {
  width: 300px;
  height: 300px;
  margin: 30px 30px 0 30px;
  border-radius: 12px;
  border: 2px solid #031f2b;
}

.button {
  text-align: center;
  display: flex;
}


button{
  padding: 10px 30px;
  border-radius: 12px;
  background-color:#031f2b;
  color: #F2E4D8;
  font-family: 'Patrick Hand';
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: auto;
 
}

button:hover{
  background-color: #BFBBBA;
  color: #031f2b;
}

footer{
  height: 230px;
  margin-top: 50px;
  background-color: #031f2b;
  text-align: center;
  padding-top: 50px;
}

h4 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #dfdcdb;
}
form {
margin-bottom: 40px;
}

input {
  width: 270px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid  #031f2b;
}

form p {
  font-size: 22px;
  margin-top: 20px;
  color: #dfdcdb;
}

footer p {
  color: #dfdcdb;
  font-size: 18px;
}






